
      <div class="skipper_container">
        <div class="theTarget">
          <div class="test1"></div>
            <div class="test2"></div>
            <div class="test3"></div>
            <div class="test4"></div>
            <div class="test5"></div>

        </div>
    </div>
<p class="bg-danger">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" >
        <div class="title">
          <h1>お店</h1>
         </div>
          <%= form_tag("/tagsearchs", method: "post") do %>
            <%= label_tag(:q, "タグ検索:") %>
            <%= text_field_tag(:q) %>
            <%= submit_tag("Search") %>
          <% end %>

          <%= search_form_for @search, url: searchresult_path do |f| %>
            <%= f.label :storename_cout, "キーワード検索:" %> <%= f.search_field :storename_or_city_or_category_cont %><div class="actions"><%= f.submit "検索" %></div>
          <% end %>

            <% @stores.each do |store| %>
              <div class="col-lg-6" >

                  <%= link_to store.storename,store_path(store.id) %> (<%= store.city %> /<%= store.category %>)<br>
                  <%= attachment_image_tag store, :image, :fill, 300,300, format: 'jpeg' %><br>

                  <% store.tag_list.each do |tag| %>
                    <span style="background-color: pink; border-radius: 10px;"><%= tag %></span>
                  <% end %>
              </div>
            <% end %>
            <%= paginate @stores, class: "paginate" %>
      </div>
    </div>
  </div>
<p/>

