<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
</head>
    <title>skippr導入</title>
<body>
    <div class="container">
        <div class="theTarget">
            <div style="background-image: url(image1.jpg)"></div>
            <div style="background-image: url(image2.jpg)"></div>
            <div style="background-image: url(image3.jpg)"></div>
            <div style="background-image: url(image4.jpg)"></div>
            <div style="background-image: url(image5.jpg)"></div>
        </div>
    </div>

</body>
</html>

<p class="bg-danger">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" >
      	<h1>お店</h1>
          <%= form_tag("/tagsearchs", method: "post") do %>
            <%= label_tag(:q, "タグ検索:") %>
            <%= text_field_tag(:q) %>
            <%= submit_tag("Search") %>
          <% end %>


          <%= search_form_for @search, url: wordsearchs_path, html: { method: :post } do |f| %>
            # storenameカラムに対して部分一致検索ができる
            <%= f.label :storename_cont, "商品名を含む" %>
            <%= f.search_field :storename_cont %>

            # 検索ボタン
            <div class="actions"><%= f.submit "検索" %></div>
          <% end %>

   <!--  <div id="tag_cloud">
        <% tag_cloud Store.tag_counts, %w{s m l} do |tag, css_class| %>
        <% end %>
</div> --><% @stores.each do |store| %>
              <div class="col-lg-6" >

                  <%= link_to store.storename,store_path(store.id) %> (<%= store.city %> /<%= store.category %>)<br>
                  <%= attachment_image_tag store, :image, :fill, 300,300, format: 'jpeg' %><br>
                  <%= store.tag_list %>
                  <% store.tag_list.each do |tag| %>
                    <span style="background-color: pink; border-radius: 10px;"><%= tag %></span>
                  <% end %>
              </div>
            <% end %>
      </div>
    </div>
  </div>
<p/>
