<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-user style-1 rounded has-shadow-1">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="actions row">

						<h1>個人情報詳細ページ</h1>

						<p><%= @user.name %></p>
						<p><%= @user.kana %></p>
						<p><%= @user.email %></p>
						<p><%= @user.password %></p>
                        <%= link_to "退会", user_path(@user.id), method: :delete,  "data-confirm" => "本当に削除しますか？" %>
 						<%= link_to "編集", edit_user_path(@user.id) %>

		            </div>
			    </div>
	        </div>
		</div>
	</div>
</div>


