<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>skippr導入</title>
</head>
<body>
    <div class="skipper_container">
        <div class="theTarget">
            <div class="test1"></div>
            <div class="test2"></div>
            <div class="test3"></div>
            <div class="test4"></div>
            <div class="test5"></div>
        </div>
    </div>

</body>

</html>
    <div class="container">
       <div class="row">
         <div class="col-lg-12" >
           <div class="title">
             <h1>お店</h1>
           </div>
              <% @searchresult.each do |result| %>
                <div class="col-lg-6" >
                <%= link_to result.storename, store_path(result) %> (<%= result.city %> /<%= result.category %>)</p>
                <%= attachment_image_tag result, :image,  :fill, 300,300, format: 'jpeg'  %><br>

                <% result.tag_list.each do |tag| %>
                    <span style="background-color: pink; border-radius: 10px;"><%= tag %></span>
                <% end %>
          </div>
          <% end %>
    	</div>
    </div>

<%= paginate @searchresult, class: "paginate" %>