<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">

    <title>skippr導入</title>
</head>
<body>
    <div class="container">
        <div class="theTarget">
            <div style="background-image: url(assets/image1.jpg)"></div>
            <div style="background-image: url(assets/image2.jpg)"></div>
            <div style="background-image: url(assets/image3.jpg)"></div>
            <div style="background-image: url(assets/image4.jpg)"></div>
            <div style="background-image: url(assets/image5.jpg)"></div>
        </div>
    </div>

</body>
</html>
    <div class="container">
       <div class="row">
         <div class="col-lg-12" >
         <%= paginate @searchresult, class: "paginate" %>
        	<h1>お店</h1>
      	 <div class="row">
              <% @searchresult.each do |result| %>
                <div class="col-lg-6" >
                <p><%= result.storename %>(<%= result.city %> /<%= result.category %>)</p>
                <%= attachment_image_tag result, :image,  :fill, 300,300, format: 'jpeg'  %><br>

                <% result.tag_list.each do |tag| %>
                    <span style="background-color: pink; border-radius: 10px;"><%= tag %></span>
                <% end %>
              <% end %>
          </div>
    	</div>
    </div>

